body {
    width: 960px;
    margin: 0 auto;
}

.header {
    background-color: rgb(49, 45, 45);
    color: white;
    position: relative;
    height: 100px;
}

.header .logo {
    position: absolute;
    top: 0px;
    left: 50px;
}

.header .link {
    position: absolute;
    top: 0px;
    right: 30px;
}

.header .link li {
    list-style-type: none;
    display: inline-block;
}

.header .link li a {
    color: white;
}

.header .link li a:hover {
    color: blue;
}

.content .home {
    display: flex;
}

.banner {
    background-color: green;
    height: 200px;
    position: relative;
}

.banner .banner-select {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.banner li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid;
    padding: 6px;
    background-color: white;
}

.banner li a {
    display: block;
    text-decoration-line: none;
    padding: 0px;
}

.banner li a:focus, .banner li a:hover{
    padding-top: 15px;
}

.nav {
    background-color: white;
}

.nav ul {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.nav .active {
    background-color: white;
}

.nav li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid;
    border-bottom: 0px;
    border-radius: 12px 12px 0px 0px;
    padding: 4px;
    background-color: gray;
}

.nav li a {
    text-decoration-line: none;
}

.content {
    position: relative;
    height: 520px;
}

.content .active {
    z-index: 1;
}

.content section {
    position: absolute;
    height: 500px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    overflow: hidden;
}

section article {
    border: 1px solid;
    margin: 5px 5px;
    flex-grow: 1;
    flex-basis: 250px;
    /* width: 250px; */
}

.footer {
    background-color: rgb(126, 117, 117);
    height: 60px;
    text-align: center;
}
